@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-base-25: #353d47;
    --color-base-50: #2a323c;
    --color-base-75: #20272e;
    --color-white: #F9F9F9;
    --color-primary-focus: #0068c8;
    --color-secondary-focus: #503de2;
    --color-accent-focus: #1a9489;
    --color-natural-focus: #242a33;
    --color-gradiant-first: #34eaa0;
    --color-gradiant-second: #0fa2e9;
}

@plugin "daisyui" {
    themes: light --default;
}

@plugin "daisyui/theme" {
    color-scheme: "dark";
    default: true;
    --color-base-100: #1d232a;
    --color-base-200: #191e24;
    --color-base-300: #15191e;
    --color-base-content: #A6ADBB;
    --color-primary: #007BEC;
    --color-primary-content: FFFFFF;
    --color-secondary: #6c5ce7;
    --color-secondary-content: #FFFFFF;
    --color-accent: #1FB2A5;
    --color-accent-content: #FFFFFF;
    --color-neutral: #2a323c;
    --color-neutral-content: ##303030;
    --color-info: 3abff8;
    --color-info-content: #18272f;
    --color-success: #36d399;
    --color-success-content: #162a21;
    --color-warning: #fbbd23;
    --color-warning-content: #312612;
    --color-error: #f87272;
    --color-error-content: ##311c1b;
}

@utility container {
    margin: 0 auto;
    padding: 0 1rem;
}